<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <app-config-add-computers></app-config-add-computers>
    <app-config-add-source></app-config-add-source>
    <app-config-add-destination></app-config-add-destination>
    <app-config-add-schedule></app-config-add-schedule>
    <app-config-add-type></app-config-add-type>
  </div>
</div>
<div class="mb-3"></div>
<button class="btn btn-primary" routerLink="/dashboard"><svg cIcon class="me-2" name="cil-ArrowRight"></svg>Back</button>
<button class="btn btn-primary float-end" routerLink="/dashboard"><svg cIcon class="me-2" name="cil-Save"></svg>Save Configuration</button>
