<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Computers
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="card">
          <div class="card-header">
            <h3>Selected Computers</h3>
          </div>
          <div class="card-body">
            <div class="table-computer scrollable">
              <table class="table table-borderless table-hover">
                <thead>
                <tr class="table2 fixed">
                  <th scope="col">Computer</th>
                  <th scope="col">Nickname</th>
                  <th scope="col">IP</th>
                  <th scope="col">MAC</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="column1">
                  <td>1</td>
                  <td>Main PC</td>
                  <td>198.67.5.99</td>
                  <td>10:92:AB:23:98</td>
                  <td><button class="btn bg-light mat-raised-button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></td>
                </tr>
                <tr class="column1">
                  <td>3</td>
                  <td>Better PC</td>
                  <td>158.11.5.45</td>
                  <td>10:92:AB:23:98</td>
                  <td><button class="btn btn-light mat-raised-button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></td>
                </tr>
                <tr class="column1">
                  <td>45</td>
                  <td>Server Mainframe</td>
                  <td>155.11.22.52</td>
                  <td>10:92:AB:23:98</td>
                  <td><button class="btn btn-light mat-raised-button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></td>
                </tr>
                <tr class="column1">
                  <td>96</td>
                  <td>Main PC</td>
                  <td>198.67.5.99</td>
                  <td>10:92:AB:23:98</td>
                  <td><button class="btn btn-light mat-raised-button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></td>
                </tr>
                <tr class="column1">
                  <td>12</td>
                  <td>Better PC</td>
                  <td>158.11.5.45</td>
                  <td>10:92:AB:23:98</td>
                  <td><button class="btn btn-light mat-raised-button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></td>
                </tr>
                <tr class="column1">
                  <td>21</td>
                  <td>Server Mainframe</td>
                  <td>155.11.22.52</td>
                  <td>10:92:AB:23:98</td>
                  <td><button class="btn btn-light mat-raised-button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-end"><svg cIcon class="me-2" name="cil-User-Follow"></svg>Add Computers</button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Source
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card">
            <div class="card-body">
              <div class="input-group form-group" >
                <label for="group" class="col-form-label col-sm-2 cor-form-center" style="display: block; text-align: center;">From :</label>
                <div class="col-sm-9" >
                  <div class="" id="group">
                    <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Invoices/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
                    <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Pays/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
                    <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Bank/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
                    <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Accounts/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-secondary bg-light" data-bs-toggle="modal" data-bs-target="#SourceModal">
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="SourceModal" tabindex="-1" aria-labelledby="SourceModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="SourceModalLabel">Add Source</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Source path</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="C:/users/documents">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Destination
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card">
            <div class="card-body">
              <div class="input-group form-group" >
                <label for="group" class="col-form-label col-sm-2 cor-form-center" style="display: block; text-align: center;">To :</label>
                <div class="col-sm-9" >
                  <div class="" id="destinationgroup">
                    <button class="list-group-item list-group-item-action" type="button" aria-current="true">X:/Server/Backup/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
                    <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/local/share/backkup<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-secondary bg-light" data-bs-toggle="modal" data-bs-target="#DestinationModal">
                  Add
                </button>
              </div>
            </div>
          </div></div>
      </div>
    </div>
    <!--Modal -->
    <div class="modal fade" id="DestinationModal" tabindex="-1" aria-labelledby="DestinationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="DestinationModalLabel">Add Destination</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="modal-body">
              <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Destination Path</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="C:/users/documents">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="headingFour">
          Schedule
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="button-schedule">
            <button class="button btn btn-primary mb-3" (click)=toogleTag() >Switch Time Input</button>
          </div>
          <div *ngIf="showMe==false" class="monthly">
            <div class="card">
              <div class="card-header">
                Select Date
              </div>
              <div class="card-body">
                <div class="container">
                  <div class="row mb-3">
                    <div class="col-6">
                      <label for="date">Set date</label>
                    </div>
                    <div class="col-6">
                      <input type="date" id="date" class="date-date">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-6">
                      <label for="time">Set Time</label>
                    </div>
                    <div class="col-6">
                      <input type="Time" id="time" class="schedule-time-input">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="showMe!=false" class="weekly" >

            <div class="card">
              <div class="card-header">
                Select Days
              </div>
              <div class="card-body">
                <div class="container">
                  <div class="btn-group mb-3" role="group" aria-label="Basic checkbox toggle button group" style="width: 100%; ">

                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck1">Monday</label>

                    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck2">Tuesday</label>

                    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck3">Wednesday</label>

                    <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck4">Thursday</label>

                    <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck5">Friday</label>

                    <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck6">Saturday</label>

                    <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck7">Sunday</label>
                  </div>
                  <div class="row">
                    <label for="appt" class="schedule-time-label">Set Time</label>
                    <div class="col-sm-10">
                      <input type="Time" id="appt" class="schedule-time-input">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Type
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="fs-4 fw-semibold mb-3">Type</div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                      <label class="form-check-label" for="flexRadioDefault1">
                        Full Backup
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Differential Backup
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                      <label class="form-check-label" for="flexRadioDefault3">
                        Incremental Backup
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="fs-4 fw-semibold mb-3">Settings</div>
                    <div class="">
                      <label for="rollover">Rollover</label>
                    </div>
                    <div class="col-6">
                      <input type="number" id="rollover" class="">
                    </div>
                    <div class="">
                      <label for="packagecount">Max Package Keep Count</label>
                    </div>
                    <div class="col-6">
                      <input type="number" id="packagecount" class="">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3"></div>
<button class="btn btn-primary" routerLink="/dashboard"><svg cIcon class="me-2" name="cil-ArrowRight"></svg>Back</button>
<button class="btn btn-primary float-end" routerLink="/dashboard"><svg cIcon class="me-2" name="cil-Save"></svg>Save Configuration</button>
