<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="shadow button-bar card border-top-primary border-top-3 mb-3">
        <div class="card-header list-group-item-action">
          <button class="btn" type="text" aria-current="true">Create new group</button>
        </div>

        <div class="form-group input-group margin-top disabled">
          <label for="PC" class="col-sm-2 col-form-label cor-form-center" style="display: block; text-align: center;">Group name</label>
          <div class="col-sm-9">
            <input type="name" class=" form-control-xl  form-control" id="PC" placeholder="name">
          </div>
        </div>
        <div style="height: 2vh"></div>
        <div class="input-group form-group margin-top"  style="margin-bottom: 1vh;">
          <label for="group" class="col-form-label col-sm-2 cor-form-center" style="display: block; text-align: center;">Computers</label>
          <div class="col-sm-9" >
            <div class="" id="group">
              <button class="list-group-item list-group-item-action" type="button" aria-current="true">PC1<button class="btn btn-sm btn-secondary float-end bg-light" type="button">remove</button></button>
              <button class="list-group-item list-group-item-action" type="button" aria-current="true">PC2<button class="btn btn-sm btn-secondary float-end bg-light" type="button">remove</button></button>
              <button class="list-group-item list-group-item-action" type="button" aria-current="true">PC3<button class="btn btn-sm btn-secondary float-end bg-light" type="button">remove</button></button>
              <button class="list-group-item list-group-item-action" type="button" aria-current="true">PC4<button class="btn btn-sm btn-secondary float-end bg-light" type="button">remove</button></button>
              <button class="list-group-item list-group-item-action" type="button" aria-current="true">PC5<button class="btn btn-sm btn-secondary float-end bg-light" type="button">remove</button></button>
              <button class="list-group-item list-group-item-action" type="button" aria-current="true">PC6<button class="btn btn-sm btn-secondary float-end bg-light" type="button">remove</button></button>
            </div>
          </div>



        </div>
        <button class="list-group-item list-group-item margin-top" type="button" aria-current="true">
          <button class="btn btn-sm btn-secondary float-start bg-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Add computers</button>
          <button class="btn btn-sm btn-primary float-end" routerLink="/computers">Save Changes</button>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header card-header list-group-item-action">
        <button class="btn " type="text" aria-current="true">Add computer</button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless table-hover">
          <thead>
          <tr class="table2 fixed">
            <th scope="col">Computer</th>
            <th scope="col">Nickname</th>
            <th scope="col">IP</th>
            <th scope="col">MAC</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="column1">
            <td>1</td>
            <td>Main PC</td>
            <td>198.67.5.99</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
            </div>
          </tr>
          <tr class="column2">
            <td>3</td>
            <td>Better PC</td>
            <td>158.11.5.45</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
            </div>
          </tr>
          <tr class="column3">
            <td>45</td>
            <td>Server Mainframe</td>
            <td>155.11.22.52</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck3">
            </div>
          </tr>
          <tr class="column4">
            <td>55</td>
            <td>Main PC</td>
            <td>198.67.5.99</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck4">
            </div>
          </tr>
          <tr class="column5">
            <td>99</td>
            <td>Better PC</td>
            <td>158.11.5.45</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck5">
            </div>
          </tr>
          <tr class="column6">
            <td>69</td>
            <td>Server Mainframe</td>
            <td>155.11.22.52</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck6">
            </div>
          </tr>
          <tr class="column7">
            <td>96</td>
            <td>Main PC</td>
            <td>198.67.5.99</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck7">
            </div>
          </tr>
          <tr class="column8">
            <td>12</td>
            <td>Better PC</td>
            <td>158.11.5.45</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck8">
            </div>
          </tr>
          <tr class="column9">
            <td>21</td>
            <td>Server Mainframe</td>
            <td>155.11.22.52</td>
            <td>10:92:AB:23:98</td>
            <div class="custom-control custom-checkbox justify-content-center">
              <input type="checkbox" class="custom-control-input" id="customCheck9">
            </div>
          </tr>
          </tbody>
        </table>
        <nav class="navbar navbar-light">
          <form class="form-inline input-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary bg-light" type="submit">Search</button>
          </form>
        </nav>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
