<div class="" id="group">
  <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Invoices/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
  <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Pays/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
  <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Bank/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
  <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/@currentuser/Documents/Accounts/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
</div>
