
<div class="input-group input-group-lg"><span class="input-group-text" id="inputGroup-sizing-lg">Group Name:</span>
  <input class="form-control" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Group Name:</span>
  <input class="form-control" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div class="input-group input-group-sm mb-3"><span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
  <input class="form-control" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group mb-3"><span class="input-group-text" id="inputGroup-sizing-default">Default</span>
  <input class="form-control" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group input-group-lg"><span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
  <input class="form-control" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
