<div class="container ">
  <div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="shadow button-bar card border-top-primary border-top-3 mb-3">
        <div class="card-header list-group-item-action">
          <button class="btn" type="text" aria-current="true">Edit Computer<svg cIcon class="me-2" name="cilPencil"></svg></button>
        </div>
        <div class="form-group input-group margin-top disabled">
          <label for="PC" class="col-sm-2 col-form-label cor-form-center" style="display: block; text-align: center;">PC</label>
          <div class="col-sm-9">
            <input type="name" class=" form-control-xl  form-control" id="PC" placeholder="PC1" disabled>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
