<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>
<button class="btn btn-sm btn-outline-primary me-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-auto ">
      <div class="shadow-lg card border-top-primary border-top-3 mb-3">
        <div class="card-header ">
          <h3 class="what">
            Message Log

            <button class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#MailSetPopup"><svg cIcon class="me-2" name="cilSettings"></svg>Set</button>
            <button class="haha2 btn btn-sm btn-primary float-end" routerLink="/logs/alert">Alert Log</button>
            <button class="haha btn btn-sm btn-primary float-end " routerLink="/logs">Message Log</button>




          </h3>
        </div>
        <div class="xd card-body">
          <div class="table-computer scrollable">
            <table class="omega table table-borderless table-hover">
              <thead>
              <tr class="table2 fixed">
                <th scope="col">Name</th>
                <th scope="col">Created Time</th>
                <th scope="col">Description</th>
                <th scope="col">Result</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr class="column1">
                <td>Config4</td>
                <td>11:48:20</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config12</td>
                <td>10:30:22</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config20</td>
                <td>22:55:44</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config1</td>
                <td>10:30:59</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config3</td>
                <td>20:20:12</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config10</td>
                <td>12:30:14</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config9</td>
                <td>16:10:22</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config22</td>
                <td>10:30:25</td>
                <td>new config</td>
                <td>Success</td>

              </tr>
              <tr class="column1">
                <td>Config6</td>
                <td>12:35:22</td>
                <td>new config</td>
                <td>Success</td>

              </tr>





              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="MailSetPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="hmmyes modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mail Set</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

