<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="shadow-lg card border-top-primary border-top-3 mb-3">
        <div class="mat-card-header list-group-item-action">
          <button class="btn" type="button" routerLink="/dashboard" aria-current="true">Requests
            <svg cIcon class="me-2" name="cilHome"></svg></button>

        </div>
        <div class="card-body">
          <div class="list-group">
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 1<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 2<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 3<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 4<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 5<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 6<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 7<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Computer 8<button class="btn btn-sm btn-light float-end">Deny</button><button class="ys btn btn-sm btn-primary float-end">Accept</button></button>
          </div>
        </div>
        <div class="mat-card-footer list-group-item-action">

        </div>
      </div>
    </div>
    <div class="col-auto">

      <div class="row">
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</div>
















