
<div>
  <div class="card">
    <div class="card-header">
      <div class="header-background">
        <h1 class="request-header">
          REQUESTS
        </h1>
      </div>
    </div>
    <div class="card-body">
  <div class="table-computer scrollable">
    <table class="table table-light table-striped table-hover">
      <thead>
      <tr class="table2 fixed">
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="column1">
        <td><h1>Computer 1</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>Computer 2</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>Computer 3</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>Computer 4</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>Computer 5</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>Computer 6</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>Computer 7</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
      </div>
  </div>
</div>
















