<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="shadow-lg card border-top-primary border-top-3 mb-3">
        <div class="mat-card-header list-group-item-action bg-light">
          <button class="btn" type="button" aria-current="true">Requests
            <svg cIcon class="me-2" name="cilHome"></svg></button>

        </div>
        <app-request-table></app-request-table>
        <div class="mat-card-footer list-group-item-action">

        </div>


      </div>
    </div>
    <div class="col-auto">

      <div class="row">
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</div>
















