.header-background{
  background-color: #A4A4A4;
  height: 15%;
  justify-content: left;
  align-items: center;
  display: flex;
  color: white;
  border: 4px solid #7D7D7D;
  .request-header{
    font-size: 2vw;
    margin-left: 1.3vw;
    margin-top: 1.5vh;



  }

}

.card-background{
  background-color: #EEEEEE;
  height: 11%;
  justify-content: left;
  align-items: center;
  display: flex;
  border: 4px solid darkgrey;

  margin-top: 5vh;


  .pc-header{
    font-size: 1.5vw;
    margin-left: 1.3vw;
    margin-top: 1.5vh;

  }

  .button-allow{
    margin-left: 52vw;
    background-color: white;
    font-size: 1vw;
    height: 2vw;
    width: 4vw;
    border: 3px solid #909090;



  }
  .button-deny{
    margin-left: 2vw;
    background-color: red;
    font-size: 1vw;
    height: 2vw;
    width: 4vw;
    border: 3px solid #909090;

  }

}



.button-2{

  .button-deny{

  }

}
