<div class="header-background">
  <h1 class="request-header">
    <button class="button-configuration" routerLink="/logs">Configurations</button>
    <button class="button-message" routerLink="/logs/messages">Message Log</button>
    <button class="button-alert" routerLink="/logs/alert">Alert Log</button>
    <button class="button-set-email">Set3</button>
    <table class="table table-bordered"></table>

  </h1>
</div>

<div class="button-configuration">

</div>

<div class="button-message">

</div>

<div class="button-alert">

</div>

<div class="button-set-email">

</div>

<div style="margin-top: 3vh"></div>
<table class="table table-bordered">
  <thead>
  <tr class>
    <th scope="col">Name(IP)</th>
    <th scope="col">Created Time</th>
    <th scope="col">Type Name</th>
    <th scope="col">Description</th>
    <th scope="col">Event Types</th>
    <th scope="col">Results</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>TEST</td>
    <td>TEST</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>TEST</td>
    <td>TEST</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>TEST</td>
    <td>@twitter</td>
    <td>TEST</td>
    <td>TEST</td>
    <td>TEST</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>TEST</td>
    <td>TEST</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>TEST</td>
    <td>TEST</td>
  </tr>
  </tbody>
</table>
