<div class="accordion-item">
  <h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Destination
    </button>
  </h2>
  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="card">
        <div class="card-body">
          <div class="input-group form-group" >
            <label for="destinationgroup" class="col-form-label col-sm-2 cor-form-center" style="display: block; text-align: center;">To :</label>
            <div class="col-sm-9" >
              <div class="" id="destinationgroup">
                <button class="list-group-item list-group-item-action" type="button" aria-current="true">X:/Server/Backup/<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
                <button class="list-group-item list-group-item-action" type="button" aria-current="true">C:/local/share/backkup<button class="btn btn-sm btn-secondary float-end bg-light" type="button"><svg cIcon class="me-2" name="cil-Trash"></svg>Remove</button></button>
              </div>
            </div>
            <button type="button" class="btn btn-outline-secondary bg-light" data-bs-toggle="modal" data-bs-target="#DestinationModal">
              Add
            </button>
          </div>
        </div>
      </div></div>
  </div>
</div>
<!--Modal -->
<div class="modal fade" id="DestinationModal" tabindex="-1" aria-labelledby="DestinationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DestinationModalLabel">Add Destination</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Destination Path</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="C:/users/documents">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
