<div>
<div class="table-computer scrollable">
    <table class="table table-light table-striped table-hover">
      <thead>
      <tr class="table2 fixed">
        <th scope="col">Config Name</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      <tr class="column1">
        <td><h1>My Config</h1></td>
        <td style="width: 15%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-info" type="button">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<button class="btn btn-lg btn-primary" routerLink="/dashboard/configadd">Add Configuration</button>
