
<div class="whole-page-schedule">

  <div class="button-schedule">
    <button class="button" (click)=toogleTag() >Switch Time Input</button>
  </div>

  <div *ngIf="showMe!=false" class="weekly" >
    <div style="height:10vh; display:flex; justify-content: center; align-items: center; font-size: 1.6rem; ">
      <p style="border-bottom: solid black 1px; padding-bottom: 0.3vh;">select days</p>
    </div>
    <div class="schedule-day">
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" style="width: 100%; ">

        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck1">Monday</label>

        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck2">Tuesday</label>

        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck3">Wednesday</label>

        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck4">Thursday</label>

        <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck5">Friday</label>

        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck6">Saturday</label>

        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck7">Sunday</label>
      </div>
    </div>
    <div class="schedule-time">
      <label for="appt" class="schedule-time-label">Set Time</label>
      <input type="Time" id="appt" class="schedule-time-input">
    </div>
  </div>
  <div *ngIf="showMe==false" class="monthly">
    <div class="schedule-time" style="border-bottom: solid 2px black;">
      <label for="date" class="date-text" style="padding-right: 3vw;">Set date</label>
      <input type="date" id="date" class="date-date">
    </div>
    <div class="schedule-time">
      <label for="time" class="schedule-time-label"  style="padding-right: 3vw">Set Time</label>
      <input type="Time" id="time" class="schedule-time-input">
    </div>
  </div>

  <div style="display: flex; justify-content: right; padding-right: 5vw;">
    <button style=" height: 8vh; width: 9vw; font-size: 1.25rem; " routerLink="/dashboard/configtype" class="btn-primary">Continue</button>
  </div>

</div>



