<div class="whole-page-computers">

  <div class="buttons-column" >
    <div class="d-grid gap-2 col-6 mx-auto " style="margin-top: 3vh">
      <button class="btn btn-primary" type="button" style=" width: 10vw">All PC</button>
      <button class="btn btn-primary" routerLink="/computers/addgroup" type="button" style=" margin-top: 2vh; ">Add Group</button>
      <div>
        <select class="form-select" size="3" aria-label="size 3 select example" style="height: 30vw">
          <option value="1" class="groupy-padding">Group1</option>
          <option value="2" class="groupy-padding">Group2</option>
          <option value="3" class="groupy-padding">Group3</option>
          <option value="4" class="groupy-padding">Group4</option>
          <option value="5" class="groupy-padding">Group5</option>
          <option value="6" class="groupy-padding">Group6</option>
          <option value="7" class="groupy-padding">Group7</option>
          <option value="8" class="groupy-padding">Group8</option>
          <option value="9" class="groupy-padding">Group9</option>
          <option value="10" class="groupy-padding">Group10</option>
          <option value="11" class="groupy-padding">Group11</option>
          <option value="12" class="groupy-padding">Group12</option>
          <option value="13" class="groupy-padding">Group13</option>
          <option value="14" class="groupy-padding">Group14</option>
          <option value="15" class="groupy-padding">Group15</option>
          <option value="16" class="groupy-padding">Group16</option>
          <option value="17" class="groupy-padding">Group17</option>
          <option value="18" class="groupy-padding">Group18</option>
          <option value="19" class="groupy-padding">Group19</option>
          <option value="20" class="groupy-padding">Group20</option>

        </select>
      </div>

      <div style="">
        <button class="btn btn-primary" type="button" routerLink="computers/editgroup" style=" width: 10vw; margin-top: 3vh">Edit Group</button>
      </div>
    </div>
  </div>

  <div class="table-computer scrollable">
    <table class="table table-dark table-borderless table-hover">
      <thead>
      <tr class="table2 fixed">
        <th scope="col">Computer</th>
        <th scope="col">Nickname</th>
        <th scope="col">IP</th>
        <th scope="col">MAC</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>
      <tr class="column1">
        <td>1</td>
        <td>Main PC</td>
        <td>198.67.5.99</td>
        <td>10:92:AB:23:98</td>
        <td><button class="btn btn-info" routerLink="/computers/editcomputer">Edit</button></td>
      </tr>




      </tbody>
    </table>
  </div>
</div>













