<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="shadow-lg card border-top-primary border-top-3 mb-3">
        <div class="mat-card-header bg-light list-group-item-action">
          <button class="btn" type="button" routerLink="/dashboard" aria-current="true">All Computers
            <svg cIcon class="me-2" name="cilHome"></svg></button>

        </div>
        <div class="card-body">
          <div class="list-group">
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">HR<button class="btn btn-sm btn-primary float-end" routerLink="/computers/addgroup"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Engineering<button class="btn btn-sm btn-primary float-end" routerLink="/computers/addgroup"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Finances<button class=" btn btn-sm btn-primary float-end" routerLink="/computers/addgroup"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Research<button class="btn btn-sm btn-primary float-end" routerLink="/computers/addgroup"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Production<button class="btn btn-sm btn-primary float-end" routerLink="/computers/addgroup"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></button>
            <button class="list-group-item list-group-item-action" type="button" aria-current="true">Kitchen<button class="btn btn-sm btn-primary float-end" routerLink="/computers/addgroup"><svg cIcon class="me-2" name="cilSettings"></svg>Edit</button></button>
          </div>
        </div>
        <div class="mat-card-footer list-group-item-action">
          <button class="btn" type="button" routerLink="/computers/addgroup" aria-current="true">Add Group <app-add-icon></app-add-icon></button>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card border-top-primary border-top-3 mb-3">
        <div class="card-header ">
          <h3>
            Selected Group: Group1
          </h3>
        </div>
        <div class="card-body">
          <div class="table-computer scrollable">
            <app-computer-table></app-computer-table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</div>

