.whole-page-type{


}



.form-check-input:active{
  border-color: darkgrey;
  background-color: darkgrey;
}
.form-check-input{
  border-color: darkgrey;
  background-color:darkgrey;
}
.form-check{
  padding-top: 2vh;
  width: 70%;
  height: 8vh;
  font-size: 1.5rem;
}
.form-check-label{
  padding-top: 1vh;
}
